html {
    font-size: 16px;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* ヘッダー */
header {
    padding: 30px 0;
    border-bottom: 1px solid black;
}

header h1 {
    font-size: 1.2rem;
    font-weight: 100;
    transform: scale(1,2.5);
    letter-spacing: 1rem;
}

.logo {
    text-align: center;
}

/* メイン */
.cards {
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    gap: 30px;
    justify-content: center;
}

.title {
    text-align: right;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 8px 10px 4px #e6e6e6;
    width: 220px;
    padding: 0 15px;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
    padding-right: 10px;
}

li button {
    appearance: none;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.copy-white {
    filter: invert(1);
}

/* フッター */
.gotop {
    text-align: center;
    margin-right: 20px;
}

.gotop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: gray;
    color: white;
    text-decoration-line: none;
    width: 45px;
    height: 45px;
}

.copyright {
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid black;
}